<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyShop</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Huy Tuong Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/my-post">Bài viết của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-product">Sản phẩm của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất (<%=user%>)</a>
          </li>
          <%} else {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Đăng kí</a>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="my-4">Danh mục</h3>
        <div class="list-group">
          <a href="/" class="list-group-item">Tất cả sản phẩm</a>
        </div>
        <div class="list-group">
          <% type.forEach((item) => {%>
          <a href="/category/<%=item.slug_type%>" class="list-group-item"><%=item.name_type%></a>
          <%})%>
      </div>
      <h3 class="my-4">Chủ đề</h3>
      <div class="list-group">
        <a href="/posts" class="list-group-item">Tất cả bài viết</a>
      </div>
      <div class="list-group">
        <% category.forEach((item) => {%>
        <a href="/post/category/<%=item.slug_category%>" class="list-group-item"><%=item.name_category%></a>
        <%})%>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="min-height: 100vh;">
      <br><br>
      <h4 class="text-center">Chi tiết bài viết</h4>
      <div class="card">
        <div class="row">
          <aside class="col-sm-5 border-right">

          </aside>
          <aside class="col-sm-12">
            <div class="col-lg-12">

              <!-- Title -->
              <h1 class="mt-4"><%=post.name_post%></h1>

              <!-- Author -->
              <p class="lead">
                Tác giả
                <a href="#"><%=post.fullname%></a>
              </p>

              <hr>

              <!-- Date/Time -->
              <p>Đăng lúc <%=post.created_at_post%></p>

              <hr>
              <!-- Tags -->
              <p>
                Thẻ:
                <% tags.forEach((item) => { %>
                <a href="/tags/<%=item.id_tag%>" class="badge badge-primary"><%=item.name_tag%></a>
                <%})%>
              </p>

              <hr>

              <div class="body overflow-hidden">
                <%-post.content%>
              </div>
          </aside> <!-- col.// -->
        </div> <!-- row.// -->
      </div> <!-- card.// -->

    </div>
    <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

</body>

</html>