<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MyShop</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/my-product">Sản phẩm của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất (<%=user%>)</a>
          </li>
          <%} else {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">HUYTUONG</h1>
        <div class="list-group">
          <a href="/" class="list-group-item">Tất cả sản phẩm</a>
        </div>
        <div class="list-group">
          <% type.forEach((item) => {%>
          <a href="/category/<%=item.slug_type%>" class="list-group-item"><%=item.name_type%></a>
          <%})%>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD NEW PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <section class="panel panel-default">
                  <div class="panel-body">
                    <form method="POST" action="/add-new" enctype="multipart/form-data" class="form-horizontal"
                      role="form">
                      <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                          <input required type="text" class="form-control" name="product_name" id="name"
                            placeholder="Nokia 1080">
                        </div>
                      </div> <!-- form-group // -->
                      <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                          <input type="number" min="0" step="1000" class="form-control" name="product_price" id="name"
                            placeholder="10000">
                        </div>
                      </div> <!-- form-group // -->
                      <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">Decribe</label>
                        <div class="col-sm-9">
                          <textarea name="decribe" class="form-control"></textarea>
                        </div>
                      </div> <!-- form-group // -->

                      <div class="form-group">
                        <label for="tech" class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-3">
                          <select name="type_id" class="form-control">
                            <% type.forEach(function(item){ %>
                            <option value="<%=item.id_type%>"><%=item.name_type%></option>
                            <% }); %>
                          </select>
                        </div>
                      </div> <!-- form-group // -->
                      <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">Ảnh sản phẩm</label>
                        <div class="col-sm-9">
                          <input type="file" class="form-control" name="product_image" placeholder="Chọn ảnh sản phẩm">
                        </div>
                      </div> <!-- form-group // -->
                      <hr>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>

                  </div><!-- panel-body // -->
                </section><!-- panel// -->
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h3 class="text-center"><%=note%></h3>
          <button style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#addProductModal">
            Thêm sản phẩm mới
          </button>
        </div>
        <% if (products.length == 0){%>
        <div class="col-12">
          <h3 class="text-center">Không có sản phẩm nào</h3>
        </div>

        <%}%> <%products.forEach((item) => {%>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="/detail/<%=item.slug_product%>"><img class="card-img-top img-thumbnail"
                src="<%=item.image_product%>" style="object-fit: cover;
                  height: 170px;" alt="<%=item.name_product%>""></a
                >
                <div class=" card-body">
              <h4 class="card-title">
                <a href="/detail/<%=item.slug_product%>"><%=item.name_product%></a>
              </h4>
              <h5><%=item.price%>đ</h5>
              <p class="card-text"><%=item.describe%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
      <%})%>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>