<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MyShop</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Huy Tuong Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/my-post">Bài viết của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-product">Sản phẩm của tôi</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất (<%=user%>)</a>
          </li>
          <%} else {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Đăng kí</a>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="my-4">Danh mục</h3>
        <div class="list-group">
          <a href="/" class="list-group-item">Tất cả sản phẩm</a>
        </div>
        <div class="list-group">
          <% type.forEach((item) => {%>
          <a href="/category/<%=item.slug_type%>" class="list-group-item"><%=item.name_type%></a>
          <%})%>
      </div>
      <h3 class="my-4">Chủ đề</h3>
      <div class="list-group">
        <a href="/posts" class="list-group-item">Tất cả bài viết</a>
      </div>
      <div class="list-group">
        <% category.forEach((item) => {%>
        <a href="post/category/<%=item.slug_category%>" class="list-group-item"><%=item.name_category%></a>
        <%})%>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">



      <div class="row">
        <div class="col-12 text-center">
          <button style="margin-bottom: 20px;" type="button" class="btn btn-primary"
            onclick="window.location.href='/post/new-post'">Viết bài viết mới </button>
        </div>
        <% posts.forEach((item) => { %>


        <!--Grid row-->
        <div class="row mt-3 wow fadeIn">
          <!--Grid column-->
          <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
              <img src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg" class="img-fluid"
                alt="">
              <a href="/detail-post/<%=item.slug_post%>">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
              <strong><%=item.name_post%></strong>
            </h3>
            <a href="/detail-post/<%=item.slug_post%>" class="btn btn-primary btn-md">Đọc thêm
              <i class="fas fa-play ml-2"></i>
            </a>
            <a href="/update-post/<%=item.slug_post%>" class="btn btn-primary btn-md">Chỉnh sữa
              <i class="fas fa-play ml-2"></i>
            </a>
            <a onclick="deletePost(<%=item.id_post%>)" class="btn btn-primary btn-md">Xóa
              <i class="fas fa-play ml-2"></i>
            </a>
          </div>
          <!--Grid column-->

        </div>

        <hr class="mb-5">
        <%})%>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      function deletePost(event) {
        if (!confirm("Are you sure?")) return;
        $.ajax({
          method: "POST",
          url: "/api/v1/delete-post?_method=DELETE",
          data: { id: event }
        })
          .done(function (response) {
            if (response["result"] != "OK") alert("Something was wrong")
            else window.location.href = "/my-post"
          });
      }
    </script>
</body>

</html>