<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MyShop</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Huy Tuong Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <% if (user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/my-post">Bài viết của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-product">Sản phẩm của tôi</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất (<%=user%>)</a>
          </li>
          <%} else {%>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Đăng kí</a>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="my-4">Danh mục</h3>
        <div class="list-group">
          <a href="/" class="list-group-item">Tất cả sản phẩm</a>
        </div>
        <div class="list-group">
          <% type.forEach((item) => {%>
          <a href="/category/<%=item.slug_type%>" class="list-group-item"><%=item.name_type%></a>
          <%})%>
      </div>
      <h3 class="my-4">Chủ đề</h3>
      <div class="list-group">
        <a href="/posts" class="list-group-item">Tất cả bài viết</a>
      </div>
      <div class="list-group">
        <% category.forEach((item) => {%>
        <a href="post/category/<%=item.slug_category%>" class="list-group-item"><%=item.name_category%></a>
        <%})%>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="white-box">
        <form id="postForm" action="/api/v1/update-post?_method=PUT" method="POST">
          <input id="id" name="id" type="hidden" value="<%=post.id_post%>">
          <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" value="<%=post.name_post%>" class="form-control" id="title"
              placeholder="Title of post">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select name="category" value="<%=post.id_category%>" class="form-control" id="category">
              <% category.forEach((item) => { %>
              <option value="<%=item.id_category%>"><%=item.name_category%></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" class="form-control" id="content" rows="20"></textarea>
          </div>
          <div class="form-group">
            <label for="title">Tags</label>
            <input data-role="tagsinput" name="title" type="text" class="form-control" id="tags"
              placeholder="Tag of post">
          </div>
          <button type="button" onclick="submitForm()" class="btn btn-success">UPDATE</button>
        </form>
      </div>

      <div class="row">


      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2019
        </p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/u7ki3ex7i613ftk7c8t3uqj7vjajokohq261qj5e279g7o25/tinymce/5/tinymce.min.js"
      referrerpolicy="origin" />
    </script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      //init TINYMCE
      async function initTINY() {
        await tinymce.init({
          selector: '#content',
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
          plugins: ['image'],
          images_upload_url: '/api/v1/upload-image',
          images_upload_credentials: true,
          automatic_uploads: true,
          relative_urls: false,
        });
        tinyMCE.activeEditor.setContent(`<%-post.content%>`);
      }
      initTINY()
      //set category
      $("#category").val("<%=post.id_category%>");
      $("#tags").val("<%=tags%>");
    </script>
    <script>
      const submitForm = () => {
        data = {
          id: $("#id").val(),
          title: $("#title").val(),
          category: $("#category").val(),
          content: tinyMCE.get('content').getContent(),
          tags: $("#tags").val(),
        }
        $.ajax({
          method: "POST",
          url: "/api/v1/update-post?_method=PUT",
          data: data
        })
          .done(function (response) {
            if (response["result"] != "OK") alert("Something was wrong")
            else window.location.href = "/my-post"
          });
      }
    </script>
</body>

</html>